.comments__subtitle {
    margin-top: 48px;
    max-width: 700px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

@media screen and (max-width:768px) {
    .comments__subtitle {
        margin-top:20px;
        font-size: 24px;
    }
}

@media screen and (max-width:500px) {
  
    .comments__subtitle {
        
        font-size: 16px;
        line-height: 23px;
    }
}