
.place__item {
    margin-top: 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 60px;
    align-items: start;
}

@media screen and (max-width:510px) {
    
     .place__item {
         margin-top: 0;
         grid-template-columns: 1fr;
         align-items: center;
         margin: 0 auto;
     }
    }